@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
    background: #99bc85;
    background: linear-gradient(
        180deg,
        rgba(153, 188, 133, 1) 0%,
        rgba(228, 239, 231, 1) 50%,
        rgba(253, 250, 246, 1) 100%
    );
}

.main-profile-content {
    background: #faf1e6;
}

.nav-container {
    width: 100%;
}

.container-main {
    padding-inline: 4.6rem;
}

.nav-child {
    background: #faf1e6;
}

.info-section {
    background: #6e6e6e;
}

.about-me-card {
    width: 70%;
}

.about-child {
    background: #ffebd1;
}

.about-child2 {
    background: #f2f7fc;
}

.sub-title-body {
    background: #72b3cc;
    background: linear-gradient(
        90deg,
        rgba(114, 179, 204, 1) 0%,
        rgba(111, 222, 157, 1) 50%,
        rgba(219, 209, 114, 1) 100%
    );
}

.award-caraousel-wrapper {
    height: 115px; /* Atur tinggi container */
    overflow: hidden;
    position: relative;
}

.award-track {
    display: flex;
    flex-direction: column;
    animation: scroll-up 10s linear infinite;
}

.award-caraousel-wrapper:hover .award-track {
    animation-play-state: paused;
}

.nav-item {
    font-family: 'Inter', sans-serif;
    font-weight: 600;

}

.nav-item:hover {
    color: #99bc85;
}

@keyframes scroll-up {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}
